<h1>FormControl</h1>

<label>login</label>
<input class="form-control" type="text" placeholder="login" [formControl]="login">

<label>password</label>
<input class="form-control" type="password" placeholder="password" [formControl]="password">
<div *ngIf="password.invalid">
    error pattern
</div>

<button class="btn btn-info" type="submit" [disabled]="login.invalid || password.invalid">submit</button>

<h1>Form Group</h1>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label>FirstName</label>
    <input class="form-control" type="text" formControlName="firstname" placeholder="firstName">
    <br>

    <div *ngIf="registerForm.controls['firstname'].errors
    && registerForm.controls['firstname'].touched">
        <div class="alert alert-danger" *ngIf="registerForm.controls['firstname'].hasError('required')">
            the firstName is a required field
        </div>

        <div class="alert alert-danger" *ngIf="registerForm.controls['firstname'].hasError('minlength')">
            the firstName minLength is 3
        </div>
    </div>

    <label>LastName</label>
    <input class="form-control" type="text" formControlName="lastname" placeholder="lastname">

    <div class="alert alert-danger" *ngIf="registerForm.get('lastname')?.errors && registerForm.controls['lastname'].touched ">
        the LastName is a required field
    </div>
    <h3>Adress</h3>
    <div formGroupName="adress">
        <label>Stret</label>
        <input class="form-control" type="text" formControlName="street" placeholder="street">
        <br>
        <label>city</label>
        <input class="form-control" type="text" formControlName="city" placeholder="city">
    </div>
    <br>
    <button class="btn btn-info" type="submit" [disabled]="registerForm.invalid">submit</button>
    <button class="btn btn-warning" type="submit" (click)="reset()">cancel</button>

</form>
